{% load static %}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Simple Skeleton{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body>
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>